body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.top {
    height: 400px;
    flex: none;
    background-color: #1f2937;
}

.second {
    height: 400px;
    flex: none;
}

.third {
    height: 400px;
    flex: none;
    background-color: #e5e7eb;
}

.fourth {
    height: 400px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 100px;
    flex: none;
    background-color: #1f2937;
    display: flex;
    justify-content:center;
    align-items: center;
}

.header-logo {
    font-size: 28px;
    font-weight: bold;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}

.header, .figures {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    gap:8px;
}

li {
    display: inline;
    margin-left: 10px;
}

#header-links {
    margin-left:auto;
    margin-right: 120px;
    gap: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

img {
    border-radius: 10px;
}

.illustration {
    height: 150px;
    width: 150px;
    border-radius: 5%;
    border-width: 3px;
    border-color: #3882f6;
    border-style:solid;
    margin: 24px;
    margin-bottom: 0px;
}
.illustration-caption {
    width: 150px;
    margin: 0px 24px;
    text-align: center;
}

#subheader {
    display: flex;
    margin-top:100px;
}

#topsignup {
    width: 500px;
    margin-left: 120px;
    color: aliceblue;
    margin-top: 0px;
    
}

#topimg {
    margin-right: 120px;
    margin-left: auto;
}

h1 {
    margin: 0px;
    font-size:52px;
}

button {
    background-color: #3882f6;
    border-radius:10px;
    border-style:none;
    width:100px;
    font-size:18px;
    font-weight: bold;
    color:aliceblue;
    height:32px;
    cursor: pointer;
}

#secondsubheader{
    text-align: center;
    font-size:36px;
    font-weight:bold;
    margin-top:36px;
}

.figures {
    justify-content: center;
}

.figure {
    margin-bottom:24px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    margin:48px 200px;
}

#quote-caption {
    font-size: 16px;
    font-weight:bold; 
    text-align:right;
    margin-right:260px
}

.call-to-action {
    margin:0px;
    background-color: #3882f6;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height:120px;
    width: 960px;
}

#call-text {
    margin-left:100px;
}
#call-1 {
    color:aliceblue;
    font-size: 24px;
    font-weight: bold;
    margin:0px;
}

#call-2 {
    color:aliceblue;
    margin:0px;
}

#sign-2 {
    margin-left: auto;
    margin-right: 100px;
}

#button-2 {
    border-style:solid;
    border-color: aliceblue;
}

#copyright {
    color:aliceblue;
    font-size:18px;
}